name: Generate
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 21 * * *'
  workflow_dispatch:
jobs:
  generate:
    name: generate
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum
      - name: Run make generate
        run: make generate
      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git diff --staged --quiet || (git commit -m "chore: Auto-generate latest signatures" && git push)